@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.rightside-menu__title,
.footer__info-title,
.menu__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 27px;
  color: #5A5A5A;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.header__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item {
  padding-left: 15px;
  padding-right: 15px;
}

.menu__list-link {
  color: black;
}

.footer__content {
  background: #dfdfdf;
  padding: 60px 0 80px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  width: 540px;
}

.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
}

.footer__info-text {
  margin-bottom: 16px;
  max-width: 475px;
}

.footer__info-email {
  font-weight: 600;
  font-style: 14px;
  margin-bottom: 22px;
  color: #363838;
  padding-left: 30px;
  display: inline-block;
  position: relative;
}

.footer__info-email::before {
  content: "";
  background-image: url(../img/mail2.svg);
  left: 0;
  top: 6px;
  width: 16px;
  height: 16px;
  position: absolute;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form-input {
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  background-color: transparent;
  opacity: 0.7;
  border: 1px solid rgba(54, 56, 56, 0.7);
  width: 100%;
}

.footer__form-button {
  border: none;
  background-color: #363838;
  color: #fffff0;
  border-radius: 21px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  cursor: pointer;
}

.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;
}

.footer__social-link {
  padding-left: 28px;
  position: relative;
}

.footer__social-link::before {
  content: "";
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  position: absolute;
}

.footer__social-link--facebook::before {
  background-image: url(../img/facebook2.svg);
}

.footer__social-link--instagram::before {
  background-image: url(../img/instagram.svg);
}

.footer__social-link--pinterest::before {
  background-image: url(../img/pinterest.svg);
}

.footer__social-link--whatsapp::before {
  background-image: url(../img/whatsapp.svg);
}

.footer__social-link--youtube::before {
  background-image: url(../img/youtube.svg);
}

.footer__social-item,
.footer__menu-item {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.footer__social-link,
.footer__menu-link {
  color: #707070;
}

.footer__menu {
  margin-right: 60px;
  width: 125px;
}

.footer__copyright {
  background-color: #363838;
  color: #a1a1a1;
  text-align: center;
  padding: 42px 0px 41px;
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 694px;
  width: 100px;
  background-color: white;
  padding-top: 40px;
  -webkit-box-shadow: -2px 3px 17px 0px #000;
          box-shadow: -2px 3px 17px 0px #000;
}

.rightside-menu__close {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 60px;
}

.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}

.rightside-menu__logo {
  margin-bottom: 40px;
  display: inline-block;
}

.rightside-menu__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
}